<!-- templates/article_list.html -->

{% extends 'base.html' %}

{% block title %} Articles{% endblock title %}


{% block content %}
    
    {% for article in object_list  %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold">{{ article.title }}</span>
                <span class="text-muted"> by {{ article.author }} | {{ article.date }}</span>
            </div>
            <div class="caed-body">
               <p> {{ article.body }}</p>
            </div>
            <div class="card-footer text-center text-muted">
                <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
                <a href="{% url 'article_delete' article.pk %}">Delete</a> |
                <a href="{% url 'comment_new' %}"> Add comment</a> |
                
            </div>
            <div class="card-footer">
                    {% for comment in article.comments.all %}
                        <p>
                            <h5>Comments:</h5>
                            <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                            {{ comment }}
                        </p>
                        <a href="{% url 'comment_delete' comment.pk %}"> Delete comment</a>
                    {% endfor %}
            </div>
        </div>
        <br />
    {% endfor %}
        

    
{% endblock content %}

    